*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*header font type*/
@font-face {
    font-family: w;
    src: url(MPLUSRounded1c-Thin.ttf);
}
@font-face {
    font-family: w2;
    src: url(./wano-quin/otf/wano-quin-wano-quin-regular-300.otf);
}

body,html{
    color: #fff;
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-color: transparent;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*start menu customization */

/*navbars*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid rbga(225, 225, 225, .1);
    z-index:1000;
}

.navbar span{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: animate 7s infinite linear;
}


/*sliding bar near top*/
@keyframes animate{
    0%{
        left:0;
        transform: translateX(-100%);
    }
    100%{
        left: 100%;
        transform: translateX(0%);
    }
}

/* Title font size*/
.logo{
    text-transform: none;
    font-size: 30px;
    cursor: pointer;
    font-family: w;
    font-weight: bold;
}

li{
    list-style: none;
}
/*menu*/
a{
    color: white;
    text-decoration: none;
}

/*menu font size*/
.menu{
    display: flex;
    gap: 5rem;
    text-transform: none;
    list-style-type: none;
    font-weight: 100;
}

.menu li a{
    transition: white 0.3s;
    cursor: pointer;
}
.menu li a:hover{
    color: rgb(208, 208, 208); /* Lighten the color on hover */
}

/*end menu customization*/

/*linked in button style*/
.btn{
    font-weight: 500;
    text-transform: lowercase;
}

.wrapper{
    display: flex;
}

section{
    width: 100vw;
    flex-shrink: 0;
    overflow: hidden;
}

/*video sizing*/
.video-section video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -2;
    position: fixed;
}

/* attempts to overlay img onto video but fails for now */
.img-container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    filter: blur(5px);
}


/*text background and color for column scection*/
.section{
    background: linear-gradient(to right, rgba(78, 129, 240, 0.863), black);
    padding: 5rem;
}
 
.boxes-container{
    display: grid;
    flex-direction: column;
    gap: 20rem;
}

.columns{
    display: flex;
    gap: 1.5rem;
    position: relative;
}


/*Img manuvering*/
.col img{
    object-fit: contain;
}


/*images on right side of page*/
.col-3{
    display: flex;
    justify-content:right;
    gap: 2.5rem;
    flex-wrap: wrap;
    flex: 1;
}

.box1 .col-3 img:first-child{
    transform: translateY(-30px);
}

.box1 .col-3 img:nth-child(2){
    width: 150px;
}

.box1 .col-3 img:nth-child(3){
    width: 200px;
    height: 200px;
}

.col-2{
    margin:auto;
    /*Margin for the text in all sections section*/
    flex: 5;
}

.col-2 h1{
    font-family: w;
    font-size: 50px;
    text-align: left;
    top: 50px;
    left: 10%;
    z-index: 100;
    font-weight: bolder;
}

.box1 .col-2 h1{
    top: 0;
}

.col-2 span{
    font-size: 12px;
    letter-spacing: 3px;
    opacity: .7;
}

.col-2 span1{
    font-size: 12px;
    letter-spacing: 3px;
    opacity: .7;
}
.col-2 span1:hover{
    opacity: 1;
    color: white;
}

.line{
    height: 1px;
    width: 50px;
    background-color: rgb(58, 58, 58);
    margin: 2rem 0;
}

.text-box p{
    font-size: 17px;
    line-height: 1.9;
    padding-bottom: 1rem;
    opacity: .7;
}


.box2 .col3 img:nth-child(1){
    height: 200px;
    width: 100px;
    gap:1rem;
    transform: translateY(-100px);
}

.box2 .col3 img:nth-child(2){
    height: 180px;
    width: 200px;
}

.box2 .col3 img:nth-child(3){
    height: 200px;
    width: 100px;
    transform: translateX(80px);
}

.box3 .col-1{
    display: flex;
    flex-wrap: wrap;
}

.box3 .col-1 img:nth-child(1){
    width: 200px;
    height: 280px;
    transform: translateX(30px);
}

.box3 .col-1 img:nth-child(2){
    width: 180px;
    height: 200px;
    margin-left: 80px;
    align-self: center;
}

.box3 .col-1 img:nth-child(3){
    width: 280px;
    height: 180px;
}

.box3 .col-1 img:nth-child(4){
    width: 250px;
    height: 180px;
    transform: translateY(-30px);
}

.box3 .col-3 img{
    width: 400px;
    height: auto;
}

/*end image and pargraph editing*/

/*footer*/
footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

/*first page title styling!*/
.text-content{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: w;
    font-weight: 900;
    width: 450px;
    position: relative;
    height: 110px;
    overflow: hidden;
}

.bg{
    font-size: 50px;
    z-index: 1;
}

.sm{
    font-size: 35px;
    height: 40px;
}
.first{
    font-size: 75px;
    height:120px;
    top: 40px;
    z-index: 1;
}



.left{
    left:-25%
}

.right{
    top: 50px;
    left: 75%;
}

.title span{
    position: absolute;
}

.n{
    z-index:-1;
}
/*end title styling*/

/*start left hash styling*/
.text-content p{
    transform: translateY(150px);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
    font-weight: 300;
}


.v_container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    z-index: -1;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    gap: 5rem;
}

.tv{
    font-family: w;
    display: flex;
    text-transform: capitalize;
    z-index: -1;
    font-weight: bold;
}

.bottom{
    transform: translateY(70px);
}


.text-container{
    min-width: 260px;
}

.text-container p{
    padding-bottom: 1rem;
    line-height: 1.4;
    opacity: .8;
}


/*button with explore*/
.right-side{
    margin: auto;
    width: 150px;
    height: 150px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: white;
    border-radius: 50%;
    position: relative;
}

/*text inside circle for explore*/
.right-side p{
    position: absolute;
    top: 45%;
    left: -15%;
    text-transform: uppercase;
    font-size: 14px;
}

.fa-arrow-right-long{
    transform: translateX(20px);
}

